.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  opacity: 0.8;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 13px;
}

.navbar-dark .navbar-nav .apple-logo {
  font-size: 21px;
  line-height: 0;
}

body {
  padding-top: 50px;
}

.product {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 10px;
}

.product h1 {
  font-size: 56px;
  font-weight: bold;
}

.product h2 {
  font-size: 27px;
  font-weight: 400;
}

.product .links {
  font-size: 21px;
  margin-bottom: 80px;
}

.product-small .links {
  font-size: 21px;
  margin-bottom: 80px;
}

.product .links .learn-more {
  margin-right: 20px;
}

.product-small .links .learn-more {
  margin-right: 20px;
}

.product.iphone-x {
  background-color: #f9f9f9;
}

.product.ipad {
  background-color: #f5f5f5;
}

.product.macbook-pro {
  background-color: #131218;
}

.product-small.dark {
  color: #fff;
}

.product.dark {
  color: #fff;
}

.product.dark a {
  color: #fff;
}

.product-small.dark a {
  color: #fff;
}

.links.small-link-margin {
  margin-bottom: 0;
}

.proucts-small .links.small-link-margin {
  margin-bottom: 20px;
}

.product-small {
  height: 550px;
  text-align: center;
  padding-top: 40px;
  margin: 0 0 10px 10px;
}

.product-small h3 {
  font-weight: bold;
  font-size: 32px;
}

.product-small h4 {
  font-weight: 400;
  font-size: 19px;
}

.product-small.behind-the-mac.dark {
  padding-top: 420px;
}

.products-grid {
  padding-right: 10px;
}

.product-small.iphone-8 {
  background-color: #f9f0eb;
}

